/* You can add global styles to this file, and also import other style files 

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }*/

/*
.form-container {
     display: absolute; */
  /*  background: url("assets/shopping.jpg") repeat-x left;
     background-size: cover; */
    /* min-height: 1000px;  */
    /* max-height: 100%;  
    height: 100vh;

    width: 100%;

    -webkit-animation: displace 3s linear infinite;
      animation: displace 50s linear infinite;
}
@-webkit-keyframes displace {
    from { background-position: left center;
    } to { background-position: 200% center; }
  }
  @keyframes displace {
    from { background-position: left center;
    } to { background-position: 200% center; }
}


.form-container mat-form-field {
    width: 100%;
}

.container {
    position: absolute;
    right: 0;
    max-width: 500px;
    background-color: white;*/
    /* margin: 0 20px; 
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center{
    text-align: center;
}

.loginBackground {
    height: 100%;
    width: 70%;
    background-color: red;
}*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 75vh;
    width: 80vw;
    color: #111;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    justify-content: space-between;
    padding: 70px 0 30px 0;
}

.photo {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 0 50px;
}

.photo img {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-container {
    width: 50%;
    height: 100%;
}

.inner-form {
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.inner-form .input-area {
    margin: 10px 0;
}

.form-container mat-form-field {
    width: 100%;
}

.btn {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    width: 100%;
}

.btn:hover {
    background-color: #fff;
    color: #3f51b5;
}

.span {
    display: table;
    margin: 0 auto;
    padding-top: 16px;
    font-family: 'Roboto', sans-serif;
}

.span a {
    text-decoration: none;
    color: #3f51b5;
}